---
- name: install package using zypper
  import_tasks: zypper.yml
  when: ansible_facts['os_family']|lower == 'suse'

- name: install package using dnf
  import_tasks: dnf.yml
  when: ansible_facts['os_family']|lower == 'redhat'

- name: install package using apt
  import_tasks: dnf.yml
  when: ansible_facts['os_family']|lower == 'debian'

- name: bring netbird up
  ansible.builtin.command: "netbird up --management-url {{ netbird_management_url }} --setup-key {{ netbird_client_setup_key }} {{netbird_up_extra_flags}}"