---
- name: install package using zypper
  import_tasks: zypper.yml
  when: ansible_facts['os_family']|lower == 'suse'
  notify: fail2ban_restart_service

- name: install package using dnf
  import_tasks: dnf.yml
  when: ansible_facts['os_family']|lower == 'redhat'
  notify: fail2ban_restart_service

- name: install package using apt
  import_tasks: dnf.yml
  when: ansible_facts['os_family']|lower == 'debian'
  notify: fail2ban_restart_service

- name: copy fail2ban configuration file
  ansible.builtin.template:
    src: sshd.conf.j2
    dest: /etc/fail2ban/jail.d/sshd.conf
    owner: root
    group: root
    mode: '0644'
  notify: fail2ban_restart_service