---
- name: install package using zypper
  import_tasks: zypper.yml
  when: ansible_facts['os_family']|lower == 'suse'
  notify: docker_restart_service

- name: install package using dnf
  import_tasks: dnf.yml
  when: ansible_facts['os_family']|lower == 'redhat'
  notify: docker_restart_service

- name: install package using apt
  import_tasks: dnf.yml
  when: ansible_facts['os_family']|lower == 'debian'
  notify: docker_restart_service

- name: create override directory
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d/
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: docker_api_expose | bool

- name: copy override config file
  ansible.builtin.template:
    src: docker-override.conf.j2
    dest: /etc/systemd/system/docker.service.d/override.conf
    owner: root
    group: root
    mode: '0644'
  when: docker_api_expose | bool
  notify: docker_restart_service